@font-face {
  font-family: "Gilbert";
  src: url("/fonts/Gilbert-Color.otf");
}

.input-demo {
  label {
    display: block;
    color: white;
    font-size: 1.5rem;
  }
}

.text-box {
  font-family: Gilbert;
  font-size: 8rem;
  text-align: center;
}

.color-box {
  width: 10rem;
  height: 10rem;
  margin: 2rem auto;
  border-radius: 1rem;
  border: 0.1rem solid black;
  display: grid;
  place-content: center;
  span {
    color: black;
    font-size: 2rem;
  }
}
